<!doctype html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <title>spray-contrib Data Example</title>
    <link rel="stylesheet" href="assets/bootstrap.css">
    <link href="assets/prism.css" rel="stylesheet" type="text/css"/>
    <style>
        .nav-tabs {
            margin-bottom: 15px;
        }
    </style>
</head>
<body data-ng-controller="AppController">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>spray-contrib Data Example</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li data-ng-class="{active: activeTab==0}"><a href="#" data-ng-click="activeTab=0">GET Examples</a></li>
                <li data-ng-class="{active: activeTab==1}"><a href="#" data-ng-click="activeTab=1">POST Examples</a>
                </li>
                <li data-ng-class="{active: activeTab==2}"><a href="#" data-ng-click="activeTab=2">Language</a></li>
            </ul>
        </div>
        <div data-ng-show="activeTab==0" class="col-md-12">
            <p>
                <button type="button" class="btn btn-default" data-ng-click="getPage()">Get some books</button>
                <button type="button" class="btn btn-default" data-ng-click="getPage('0', '5')">Get first 5 books
                </button>
                <button type="button" class="btn btn-default" data-ng-click="getBook('missing')">Get a non-existent
                    book
                </button>
            </p>
            <p class="form-inline">
                <input type="text" class="form-control" placeholder="Index" data-ng-model="index">
                <input type="text" class="form-control" placeholder="Size" data-ng-model="size">
                <button type="button" class="btn btn-default" data-ng-click="getPage(index, size)">Get page</button>
            </p>
            <p class="form-inline">
                <input type="text" class="form-control" placeholder="Book Id" data-ng-model="bookId">
                <button type="button" class="btn btn-default" data-ng-click="getBook(bookId)">Get book</button>
            </p>
        </div>
        <div data-ng-show="activeTab==1" class="col-md-12">
            <p class="form-inline">
                <input type="text" class="form-control" placeholder="Name" data-ng-model="newBook.name">
                <input type="text" class="form-control" placeholder="Author" data-ng-model="newBook.author">
                <button type="button" class="btn btn-default" data-ng-click="addBook(newBook)">Add</button>
            </p>
        </div>
        <div data-ng-show="activeTab==2" class="col-md-12">
            <div class="btn-group">
                <button type="button" data-ng-class="{active: language===undefined}" class="btn btn-default"
                        data-ng-click="language=undefined">Default
                </button>
                <button type="button" data-ng-class="{active: language=='en'}" class="btn btn-default"
                        data-ng-click="language='en'">EN
                </button>
                <button type="button" data-ng-class="{active: language=='sk'}" class="btn btn-default"
                        data-ng-click="language='sk'">SK
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Request</h3>
            <div class="input-group">
                <span class="input-group-addon">{{method}}</span>
                <input type="text" class="form-control" value="{{url}}" disabled>
            </div>
            <div data-ng-show="request">
                <h4>Body</h4>
                <div data-syntax-highlighter data-content="request"></div>
            </div>
            <div data-ng-show="requestHeaders">
                <h4>Headers</h4>
                <table class="table">
                    <tr data-ng-repeat="(name, header) in requestHeaders">
                        <td><strong>{{name}}</strong></td>
                        <td>{{header}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Response</h3>
            <div class="input-group">
                <span class="input-group-addon">Status</span>
                <input type="text" class="form-control" value="{{status}}" disabled>
            </div>
            <div data-ng-show="links">
                <h4>Links</h4>
                <table class="table">
                    <tr data-ng-repeat="(rel, link) in links">
                        <td><strong>{{rel}}</strong></td>
                        <td><a href="" data-ng-click="get(link.href)">{{link.href}}</a></td>
                    </tr>
                </table>
            </div>
            <div data-ng-show="response">
                <h4>Body</h4>
                <div data-syntax-highlighter data-content="response"></div>
            </div>
            <div data-ng-show="headers">
                <h4>Headers</h4>
                <table class="table">
                    <tr data-ng-repeat="(name, header) in headers">
                        <td><strong>{{name}}</strong></td>
                        <td>{{header}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="assets/jquery.js"></script>
<script src="assets/angular.js"></script>
<script src="assets/prism.js"></script>
<script>
    var app = angular.module('app', []);

    app.controller('AppController', ['$scope', '$http',
        function ($scope, $http) {
            var headers = function () {
                if ($scope.language)
                    return { 'Accept-Language': $scope.language };
                else
                    return null;
            };

            $scope.get = function (url) {
                $scope.method = 'GET';
                $scope.url = url;
                $scope.request = undefined;
                $scope.requestHeaders = headers();
                $http.get(url, { 'headers': $scope.requestHeaders }).
                        success(function (data, status, headers, config) {
                            $scope.status = status;
                            $scope.response = JSON.stringify(data, undefined, 2);
                            $scope.headers = headers();
                            $scope.links = data['@links'];
                        }).
                        error(function (data, status, headers, config) {
                            $scope.status = status;
                            $scope.response = JSON.stringify(data, undefined, 2);
                            $scope.headers = headers();
                            $scope.links = data['@links'];
                        });
            };

            $scope.getPage = function (index, size) {
                var params = [];
                if (index) params.push('page=' + index);
                if (size) params.push('size=' + size);
                $scope.get("/api/books?" + params.join("&"))
            };

            $scope.getBook = function (bookId) {
                $scope.get("/api/books/" + bookId)
            };

            $scope.post = function (url, data) {
                $scope.method = 'POST';
                $scope.url = url;
                $scope.request = JSON.stringify(data, undefined, 2);
                $scope.requestHeaders = headers();
                $http.post(url, data, { 'headers': $scope.requestHeaders }).
                        success(function (data, status, headers, config) {
                            $scope.status = status;
                            $scope.response = JSON.stringify(data, undefined, 2);
                            $scope.headers = headers();
                            $scope.links = data['@links'];
                        }).
                        error(function (data, status, headers, config) {
                            $scope.status = status;
                            $scope.response = JSON.stringify(data, undefined, 2);
                            $scope.headers = headers();
                            $scope.links = data['@links'];
                        });
            }

            $scope.addBook = function (data) {
                if (data.name == '') delete data.name;
                if (data.author == '') delete data.author;
                $scope.post("/api/books", data);
            }

            $scope.activeTab = 0;
            $scope.newBook = {};
            $scope.getPage();
        }]);

    app.directive("syntaxHighlighter", function () {
        var link;
        link = function ($scope, element, attrs, controller) {
            return $scope.$watch("content", function (newVal, oldVal) {
                var container;
                if (newVal) {
                    container = element.find(".syntax_highlighter_container");
                    container.html(newVal);
                    return Prism.highlightElement(container.get()[0]);
                }
            });
        };
        return {
            link: link,
            restrict: "A",
            template: "<pre><code class='syntax_highlighter_container language-javascript'></code></pre>",
            scope: {
                content: "="
            }
        };
    });

</script>
</body>
</html>
